name: "publsih docker image"

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASS}}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v4
        with: 
          context: .
          push : true
          tags: ${{secrets.DOCKER_USERNAME}}/docker:latest
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
